<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcamp.boardserver.mapper.CategoryMapper">

  <insert id="register" parameterType="com.fastcamp.boardserver.dto.CategoryDTO">
    INSERT INTO category (id, name)
    VALUES (#{id}, #{name})
  </insert>

  <update id="updateCategory" parameterType="com.fastcamp.boardserver.dto.CategoryDTO">
    UPDATE category
    SET name=#{name}
    WHERE id=#{id}
  </update>

  <delete id="deleteCategory" parameterType="int">
    DELETE FROM category
    where id=#{id}
  </delete>

</mapper>